extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home
		.owl-carousel.owl-theme
			.comtainer
				.row
					.col-md-8
						.items
							h2 Chúng tôi là FullStack Việt Nam
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat provident quam nesciunt. Exercitationem adipisci natus repellat facere in illum placeat similique cumque. Quam quasi nisi sint. Illum quas neque dignissimos.
	section.intro
		.container
			.row
				.col
					h1 FullStack
						span.ml-1 chuyên nghiệp
			.row
				.col-md-4.items
						figure
							.box
								img.img-fluid(src="./img/home_intro1.png", alt="", srcset="")
								i.fa.fa-eye
							figcaption.mt-3
								h4 Trung tâm đào tạo IT chuyên nghiệp
								date 20/08/2018
								br
								br
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, eos? Aliquam dolor ab obcaecati, ad eum nulla incidunt earum! Nihil fugiat vero atque in libero qui doloribus sit voluptatem exercitationem!
				.col-md-4
						figure
							.box
								img.img-fluid(src="./img/home_intro2.png", alt="", srcset="")
								i.fa.fa-eye
							figcaption.mt-3
								h4 Trung tâm đào tạo IT chuyên nghiệp
								date 20/08/2018
								br
								br
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, eos? Aliquam dolor ab obcaecati, ad eum nulla incidunt earum! Nihil fugiat vero atque in libero qui doloribus sit voluptatem exercitationem!
				.col-md-4
						figure
							.box
								img.img-fluid(src="./img/home_intro3.png", alt="", srcset="")
								i.fa.fa-eye
							figcaption.mt-3
								h4 Trung tâm đào tạo IT chuyên nghiệp
								date 20/08/2018
								br
								br
								p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, eos? Aliquam dolor ab obcaecati, ad eum nulla incidunt earum! Nihil fugiat vero atque in libero qui doloribus sit voluptatem exercitationem!
			.slide.pb-4.mt-4
				.owl-carousel.owl-theme
					.items
						img.img-fluid(src="./img/home_slide6.png", alt="", srcset="")
					.items
						img.img-fluid(src="./img/home_slide5.png", alt="", srcset="")
					.items
						img.img-fluid(src="./img/home_slide4.png", alt="", srcset="")
					.items
						img.img-fluid(src="./img/home_slide3.png", alt="", srcset="")
					.items
						img.img-fluid(src="./img/home_slide2.png", alt="", srcset="")
					.items
						img.img-fluid(src="./img/home_slide1.png", alt="", srcset="")
	section.infor
		.container
			.row
				.col-md-4.text
					h4 FULLSTACK VIETNAM
					br
					p Mobile:(+84) 969689893
						br
						|Email: admin@fullstackvietnam.com
						br
						|Địa chỉ: 28 đường số 2 - CYTI LAND - Phường 7 - Quận Gò Vấp - TPHCM	
				.col-md-4.text
					h4 LINKS
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Front End Master
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học FullStack Developers
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Design Chuyên Nghiệp 
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Lịch Khai Giảng
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Đăng ký Khoá Học
				.col-md-4.text
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Front End Master
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học FullStack Developers
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Khoá học Design Chuyên Nghiệp 
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Lịch Khai Giảng
					br
					i.fa.fa-arrow-right(aria-hidden="true")
					span Đăng ký Khoá Học

